@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 50% 95%;
    --foreground: 197 50% 10%;
    --card: 197 50% 100%;
    --card-foreground: 197 50% 10%;
    --popover: 197 50% 100%;
    --popover-foreground: 197 50% 10%;
    --primary: 197 52% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 197 50% 90%;
    --secondary-foreground: 197 50% 10%;
    --muted: 197 50% 85%;
    --muted-foreground: 0 0% 0%;
    --accent: 197 60% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 50% 80%;
    --input: 197 50% 100%;
    --ring: 197 60% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 197 52% 15%;
    --foreground: 0 0% 98%;
    --card: 197 52% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 197 52% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 52% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 197 52% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 197 52% 25%;
    --muted-foreground: 0 0% 0%;
    --accent: 197 60% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 52% 25%;
    --input: 197 52% 20%;
    --ring: 197 60% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 340 75% 55%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .hover\:text-shadow-md:hover {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
